<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Finance inquiry</title>
    <style>
      body {
        background-image: url("https://raw.githubusercontent.com/maeseok/finance_web/main/mong.png");
        background-repeat: no-repeat;
        background-size: cover;
      }
    </style>
  </head>
  <body>
    <div id="page-wrapper">
      <header id="main-header">
        <h1>매도 정보</h1>
      </header>
      <nav id="main-navigation"></nav>
      <hr />
      <div id="content">
        <section id="main-section">
          <article>
            <h1>정보 입력</h1>
            <form action="/portfolio_sell_return" method="get">
              <fieldset>
                <legend>입력 양식</legend>
                <label for="name2">종목 이름</label>
                <input placeholder="EX)삼성전자" required name="name2" />
                <br />
                <label for="price2">매도 가격</label>
                <input placeholder="EX)75200" required name="price2" />
                <br />
                <label for="number2">매도 수량</label>
                <input placeholder="EX)3" required name="number2" />
                <br />
                <input type="submit" value="매도" />
                <input type="reset" value="입력 초기화" />
                <input
                  type="button"
                  value="이전 페이지"
                  onclick="location.href='/portfolio'"
                />
                <input
                  type="submit"
                  value="홈으로"
                  onclick="location.href='/'"
                />
              </fieldset>
            </form>
          </article>
        </section>
      </div>
    </div>
  </body>
</html>
