<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Finance inquiry</title>
    <style>
      body {
        background-image: url("https://images.mypetlife.co.kr/content/uploads/2019/12/09151959/%EC%8B%AC%EC%8B%AC%ED%95%9C_%EA%B3%A0%EC%96%91%EC%9D%B42.png");
        background-repeat: no-repeat;
        background-size: cover;
      }
    </style>
  </head>
  <body>
    <div id="page-wrapper">
      <header id="main-header">
        <h1>포트폴리오 조회</h1>
      </header>
      <nav id="main-navigation"></nav>
      <hr />
      <div id="content">
        <section id="main-section">
          <article>
            <fieldset>
              <legend><b>포트폴리오</b></legend>
              {% for i in range(0,portfolio_len) %}
              <b><p>{{portfolio[i]}}</p></b>
              {% endfor %}
            </fieldset>
          </article>
        </section>
      </div>
    </div>
  </body>
</html>
