<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Finance inquiry</title>
    <style>
      body {
        background-image: url("https://raw.githubusercontent.com/maeseok/finance_web/main/mong.png");
        background-repeat: no-repeat;
        background-size: cover;
      }
    </style>
  </head>
  <body>
    <h1>종목 검색</h1>
    <fieldset>
      <legend>종목 입력</legend>
      <form action="/today_rate" method="get">
        <input placeholder="EX)카카오" required name="stock_item" />
        <button>검색</button>
        <input type="button" value="홈으로" onclick="location.href='/'" />
      </form>
    </fieldset>
  </body>
</html>
