<!required는 폼 데이터(form data)가 서버로 제출되기 전 반드시 채워져 있어야 하는 입력 필드를 명시함!>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Finance inquiry</title>
    <style>
      body {
        background-image: url("https://raw.githubusercontent.com/maeseok/finance_web/main/mong.png");
        background-repeat: no-repeat;
        background-size: cover;
      }
    </style>
  </head>
  <body>
    <h1>정보 입력</h1>
    <form action="/stock_return" method="get">
      <fieldset>
        <legend>입력 양식</legend>
        <label for="stockName">종목 이름</label>
        <input placeholder="EX)삼성전자" required name="stocks" />
        <br />
        <label for="purdate">매수 날짜</label>
        <input placeholder="EX)2021.11.03" required name="purchase_date" />
        <br />
        <label for="saledate">매도 날짜</label>
        <input placeholder="EX)2021.12.23" required name="sale_date" />
        <br />
        <button>완료</button>
        <input type="button" value="홈으로" onclick="location.href='/'" />
      </fieldset>
    </form>
  </body>
</html>
