<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Finance inquiry</title>
    <style>
      body {
        background-image: url("https://raw.githubusercontent.com/maeseok/finance_web/main/mong.png");
        background-repeat: no-repeat;
        background-size: cover;
      }
    </style>
  </head>
  <body>
    <span><h1>조회 결과</h1></span>
    <span><h3>종목 : {{stockItem}}</h3></span>
    <section id="return-section">
        <hr>
        <div id="content">
          <h3>{{purDate}}</h3>
          <h3>{{saleDate}}</h3>
          <h3>{{Profit}}</h3>
        </div>
        <form>
          <input type="button" value="이전 페이지" onclick="location.href='/stock_search'">
          <input type="button" value="홈으로" onclick="location.href='/'">
        </form>
        <hr>
      </body>
      </section>
  </body>
</html>
